<div class="footer-container">
    <div class="footer-column">
        <img src="https://www.cyberpunk.net/build/images/rating-pegi-18-28f2792b.png"><img src="https://www.cyberpunk.net/build/images/rating-pegi-language-76a25e1a.png"><img src="https://www.cyberpunk.net/build/images/rating-pegi-sex-b358d9ae.png"><img src="https://www.cyberpunk.net/build/images/rating-pegi-violence-56a3ae1e.png">
    </div>
    <div class="footer-column">
        <h3>github:</h3>
        <a href="https://github.com/chiaraferrara"><img src="https://i.ibb.co/L1gvVXN/Png-Item-1280311.png" style="height: 50px; width: 50px;"></a>
    </div>
    <div class="footer-column">
        <a href="https://www.cyberpunk.net/it/en/" class="footer-icon"><img src="https://www.cyberpunk.net/build/images/home8/logo-franchise-yellow-en@1x-b4c9e65b.png" alt="Link Icon"></a>
    </div>
</div>
<div class="footer-made-for">
    <p>Made for educational purposes by Chiara Ferrara</p>
</div>